dlv
configstore
yarn
tmux/plugins
htop
lazygit/state.yml
github-copilot
goa*
gtk*
ibus
nautilus
pulse
update-notifier
.gsd-keyboard.settings-ported
gnome-initial-setup-done
mimeapps.list
user-dirs.dirs
user-dirs.locale
gnome-session
dconf
evolution
Code
libreoffice
lazygit
yelp
go
lazydocker
